@charset "UTF-8";
a:link{color: blue;}
a:visited{color: purple;}
a:hover{font-style: bold pink;}
hr {
    font-style: bold 24px black underline; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {

}
