a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    font-weight: bold;
    color: pink;
}
p {
    font-weight: bold;
    font-size: 24px;
    color: black;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {color: darkblue;}

.div1{text-align: center;}
.div2{text-decoration: underline; text-size-adjust: 18px;}
.div3 {
    font-weight: bold;
    color: black;
}

.sports-list li {
    color: darkblue; 
    font-style: italic;
}

.gaming-list li {
    color: darkmagenta;
    font-style: italic;
}